.myNavbar {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: 100px;
  background-color: rgb(238, 225, 225);
  color: #000;
  border: 0.5px solid rgb(160, 160, 160);
}


li p{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:hover{
    background-color: rgb(184, 150, 150);
    cursor: pointer;
}

#selectBox{
    grid-column-start: 6;
    grid-column-end: 8;
    height: 50%;
    width: 50%;

    position: relative;
    top: 20%;
    left: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

select{
    border: none;
}